In [1]:
## Basic syntax rules in Python
## Case Sensitive - Python is case sensitive

name = "Anas"
Name = "Khan"

print(name)
print(Name)

Anas
Khan

### Indentation
Indentation in python is used to define the structure and hierarchy of the code. Unlike many other programming languages that uses braces {} to delimit blocks of code, Python uses indentation to determine the grouping of statements. This means that all the statements within a block must be indented at the same level.

In [4]:
# Indentation in Python
# Python uses indentation to define blocks of code. Consistent use of spaces(commonly 4) or tab is required.
age = 32
if age > 30:
    print(age)

print('not inside the if statement')

32
not inside the if statement

In [6]:
#This is a single line comment
print("Hello World!")

Hello World!

In [8]:
# Line continuation

total = 1+2+3+4+5+6+7+\
    8+9+20

print(total)

65

In [9]:
#Multiple statements on a single line
x=5; y=10; z=x+y
print(z)

15

In [10]:
#understand symantics in python
#variable assignment
age = 32 #age is an integer
name = 'Anas' #name is a string
marks = 45.7 #marks is a float


print(name)
print(age)
print(marks)

#Type inference
print(type(name))
print(type(age))
print(type(marks))

Anas
32
45.7
<class 'str'>
<class 'int'>
<class 'float'>

In [12]:
#Type inference
variable = 10
print(type(variable))
variable = 'Anas'
print(type(variable))

<class 'int'>
<class 'str'>

In [13]:
# Name Error
a=b

NameError: name 'b' is not defined