### The map() function in python
#### The map() function applies a given function to all the items in an input list(or any other iterable) and returns a map object(an iterator). This is particularly useful for transforming data in a list comprehensively.

In [ ]:
def square(x):
    return x*x

square(10)

In [ ]:
numbers = [1,2,3,4,5,6,7,8]
for num in numbers:
    print(square(num))

In [3]:
#Using map()
list(map(square, numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [6]:
#lambda function with map
numbers=[1,2,3,4,5,6,7,8]
list(map(lambda x:x**2, numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [9]:
#Map multiple iterables
numbers1=[1,2,3]
numbers2=[4,5,6]

added_numbers = list(map(lambda x,y:x+y, numbers1,numbers2))
print(added_numbers)

[5, 7, 9]

In [10]:
#map() to convert a list of strings to integers
str_nums=['1','2','3','4','5','6','7','8']
int_nums = list(map(int, str_nums))

print(int_nums)

[1, 2, 3, 4, 5, 6, 7, 8]

In [12]:
words = ['apple','banana','cherry']
# upper_words = list(map(lambda x:x.upper(),words))
upper_words = list(map(str.upper, words))
print(upper_words)

['APPLE', 'BANANA', 'CHERRY']

In [15]:
def getname(person):
    return person['name']

people = [
    {'name':'Anas', 'age':26},
    {'name':'Nick', 'age':23},
    {'name':'Francis', 'age':31},
    {'name':'Nadeem', 'age':43}
]

names = list(map(getname,people))
print(names)

['Anas', 'Nick', 'Francis', 'Nadeem']