# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [3]:
#Solution 1
tpl = tuple(range(1,11))
# for i in range(1,11):
#     tpl += (i,)
#
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [5]:
#Solution 2
print(f'First element: {tpl[0]}')
print(f'Middle element: {tpl[len(tpl)//2]}')
print(f'Last element: {tpl[-1]}')

First element: 1
Middle element: 6
Last element: 10

In [6]:
#Solution 3
print(tpl[:3])
print(tpl[-3:])
print(tpl[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

In [8]:
#Solution 4
tpl_matrix = ((1,2,3),(4,5,6),(7,8,9))
for row in tpl_matrix:
    print(row)
print(tpl_matrix[1][2])

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
6

In [9]:
#Solution 5
tpl1 = (1,2,3)
tpl2 = (4,5,6)

concatenated_tpl = tpl1 + tpl2
print(concatenated_tpl)

(1, 2, 3, 4, 5, 6)

In [12]:
#Solution 6
tpl = (1, 2, 2, 3, 4, 4, 4, 5)
print(f'the number of 4 present in tuple is: {tpl.count(4)}')
print(f'the occurrence of first 2 present in tuple is: {tpl.index(2)}')

the number of 4 present in tuple is: 3
the occurrence of first 4 present in tuple is: 1

In [13]:
#Solution 7
packed_tuple = (1,'hello',3.14, True,15)
a,b,c,d,e = packed_tuple
print(a)
print(b)
print(c)
print(d)
print(e)

1
hello
3.14
True
15

In [14]:
#Solution 8
lst = [1,2,3,4,5]
converted_tpl = tuple(lst)
print(converted_tpl)

(1, 2, 3, 4, 5)

In [15]:
#Solution 9
tpl_matrix = ((1,2,3),(4,5,6),(7,8,9))
for row in tpl_matrix:
    print(row)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [16]:
#Solution 10
tpl = (1,2,3,4,5)
lst = list(tpl)
lst.append(6)
modified_tuple = tuple(lst)
print(modified_tuple)

(1, 2, 3, 4, 5, 6)

In [17]:
#Solution 11
str_tuple = ('h','e','l','l','o')
for x in str_tuple:
    print(x,end='')

hello

In [18]:
#Solution 12
tpl_dict = {
    (1, 2): 3,
    (4, 5): 6,
    (7, 8): 9
}
print(tpl_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

In [19]:
#Solution 13
nested_tpl = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
for tpl in nested_tpl:
    for elem in tpl:
        print(elem)

1
2
3
4
5
6
7
8
9

In [20]:
#Solution 14
tpl = (1, 2, 2, 3, 4, 4, 4, 5)
unique_set = set(tpl)
print(unique_set)

{1, 2, 3, 4, 5}

In [21]:
#Solution 15
def min_in_tuple(tpl):
    return min(tpl)

def max_in_tuple(tpl):
    return max(tpl)

def sum_of_tuple(tpl):
    return sum(tpl)

sample_tpl = (1, 2, 3, 4, 5)
print(f"Minimum: {min_in_tuple(sample_tpl)}")
print(f"Maximum: {max_in_tuple(sample_tpl)}")
print(f"Sum: {sum_of_tuple(sample_tpl)}")

Minimum: 1
Maximum: 5
Sum: 15