### Used Car Prediction Problem - Cardekho.com Dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import warnings

warnings.filterwarnings('ignore')

%matplotlib inline

In [2]:
df = pd.read_csv(r'Datasets/cardekho_imputated.csv', index_col=[0])
df.head()

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

## Data Cleaning

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15411 entries, 0 to 19543
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   model              15411 non-null  object
 1   vehicle_age        15411 non-null  int64
 2   km_driven          15411 non-null  int64
 3   seller_type        15411 non-null  object
 4   fuel_type          15411 non-null  object
 5   transmission_type  15411 non-null  object
 6   mileage            15411 non-null  float64
 7   engine             15411 non-null  int64
 8   max_power          15411 non-null  float64
 9   seats              15411 non-null  int64
 10  selling_price      15411 non-null  int64
dtypes: float64(2), int64(5), object(4)
memory usage: 1.4+ MB

In [3]:
#Check null values
df.isnull().sum()

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [4]:
#Remove unnecessary columns
df.drop('car_name', axis=1, inplace=True)
df.drop('brand', axis=1, inplace=True)

In [5]:
df['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

In [6]:
#Getting all different types of features
cat_features = [features for features in df.columns if df[features].dtype == 'O']
print(f"Number of Categorical features: {len(cat_features)}")
num_features = [features for features in df.columns if df[features].dtype != 'O']
print(f"Number of Numerical features: {len(num_features)}")
discrete_features = [features for features in num_features if len(df[features].unique()) <= 25]
print(f"Number of Discrete features: {len(discrete_features)}")
continous_features = [features for features in num_features if features not in discrete_features]
print(f"Number of Continous features: {len(continous_features)}")

Number of Categorical features: 4
Number of Numerical features: 7
Number of Discrete features: 2
Number of Continous features: 5

In [7]:
from sklearn.model_selection import train_test_split
X=df.drop(['selling_price'], axis=1)
y=df['selling_price']

## Feature Engineering and Scaling
### One Hot Encoding for Columns which had lesser unique values and not ordinal
   - One hot Encoding is a process by which categorical variables are converted into a form that could be provided to ML algorithms to do a better job in prediction

In [8]:
len(df['model'].unique())

120

In [9]:
df['model'].value_counts()

model
i20             906
Swift Dzire     890
Swift           781
Alto            778
City            757
               ...
Altroz            1
C                 1
Ghost             1
Quattroporte      1
Gurkha            1
Name: count, Length: 120, dtype: int64

In [10]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
X['model']=le.fit_transform(X['model'])

In [11]:
len(df['seller_type'].unique())

3

In [12]:
df['fuel_type'].unique()

array(['Petrol', 'Diesel', 'CNG', 'LPG', 'Electric'], dtype=object)

In [13]:
df['transmission_type'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [14]:
## Create column transformer with 3 types of transformers
num_features = X.select_dtypes(exclude='object').columns
onehot_columns=[ 'seller_type', 'fuel_type', 'transmission_type']
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer

numeric_transformer=StandardScaler()
oh_tranformer = OneHotEncoder(drop='first')

preprocessor = ColumnTransformer([
    ("OneHotEncoder", oh_tranformer, onehot_columns),
    ("StandardScaler", numeric_transformer, num_features)
], remainder='passthrough')

In [15]:
X  = preprocessor.fit_transform(X)

In [16]:
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.519714,0.983562,1.247335,-0.000276,-1.324259,-1.263352,-0.403022
1,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.225693,-0.343933,-0.690016,-0.192071,-0.554718,-0.432571,-0.403022
2,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.536377,1.647309,0.084924,-0.647583,-0.554718,-0.479113,-0.403022
3,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.519714,0.983562,-0.360667,0.292211,-0.936610,-0.779312,-0.403022
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-0.666211,-0.012060,-0.496281,0.735736,0.022918,-0.046502,-0.403022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.508844,0.983562,-0.869744,0.026096,-0.767733,-0.757204,-0.403022
15407,0.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.556082,-1.339555,-0.728763,-0.527711,-0.216964,-0.220803,2.073444
15408,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.407551,-0.012060,0.220539,0.344954,0.022918,0.068225,-0.403022
15409,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.426247,-0.343933,72.541850,-0.887326,1.329794,0.917158,2.073444
15410,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.024131,-1.339555,-0.825631,-0.407839,0.020999,0.395884,-0.403022

In [17]:
## Separate the dataset into train and tests splits
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)
X_train.shape, X_test.shape

((12328, 14), (3083, 14))

In [18]:
X_train

array([[ 0.        ,  0.        ,  1.        , ...,  1.75390551,
         2.66249771, -0.40302241],
       [ 1.        ,  0.        ,  0.        , ..., -0.55087963,
        -0.38602844, -0.40302241],
       [ 0.        ,  0.        ,  1.        , ...,  0.89033072,
         3.27453006, -0.40302241],
       ...,
       [ 1.        ,  0.        ,  0.        , ..., -0.9366097 ,
        -0.78070786, -0.40302241],
       [ 0.        ,  0.        ,  0.        , ..., -0.55471774,
        -0.43582879, -0.40302241],
       [ 1.        ,  0.        ,  0.        , ..., -0.04616815,
         0.06194201, -0.40302241]], shape=(12328, 14))

## Model Training and Model Selection

In [31]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from xgboost import XGBRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [32]:
## Create a function to evaluate model
def evaluate_model(true, prediction):
    mae = mean_absolute_error(true, prediction)
    mse = mean_squared_error(true, prediction)
    rmse = np.sqrt(mse)
    r2_square = r2_score(true, prediction)
    return mae,mse,rmse, r2_square

In [33]:
#Beginning model training
models = {
    "Linear Regression": LinearRegression(),
    "Ridge": Ridge(),
    "Lasso": Lasso(),
    "Ada Boost": AdaBoostRegressor(),
    "Gradient Boost": GradientBoostingRegressor(),
    "K-nearest Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "XGBoost Regressor": XGBRegressor()
}

In [34]:
for key, value in models.items():
    model = value
    model.fit(X_train, y_train)

    ##Make predictions
    y_train_predict = model.predict(X_train)
    y_test_predict = model.predict(X_test)

    #Evaluate Train Test Model
    model_train_mae, model_train_mse , model_train_rmse,  model_train_r2_sqaure = evaluate_model(y_train, y_train_predict)
    model_test_mae, model_test_mse , model_test_rmse,  model_test_r2_sqaure = evaluate_model(y_test, y_test_predict)


    print(f'Model : {key}')

    print("\n===== TRAINING METRICS =====")
    print(f"MAE: {model_train_mae:.4f}")
    print(f"MSE: {model_train_mse:.4f}")
    print(f"RMSE: {model_train_rmse:.4f}")
    print(f"R² Score: {model_train_r2_sqaure:.4f}")

    print("\n===== TEST METRICS =====")
    print(f"MAE: {model_test_mae:.4f}")
    print(f"MSE: {model_test_mse:.4f}")
    print(f"RMSE: {model_test_rmse:.4f}")
    print(f"R² Score: {model_test_r2_sqaure:.4f}")
    print("==" *40)

Model : Linear Regression

===== TRAINING METRICS =====
MAE: 268101.6071
MSE: 306756099359.7596
RMSE: 553855.6665
R² Score: 0.6218

===== TEST METRICS =====
MAE: 279618.5794
MSE: 252550062888.5655
RMSE: 502543.5930
R² Score: 0.6645
================================================================================
Model : Ridge

===== TRAINING METRICS =====
MAE: 268059.8015
MSE: 306756818740.9266
RMSE: 553856.3160
R² Score: 0.6218

===== TEST METRICS =====
MAE: 279557.2169
MSE: 252540243247.9685
RMSE: 502533.8230
R² Score: 0.6645
================================================================================
Model : Lasso

===== TRAINING METRICS =====
MAE: 268099.2226
MSE: 306756104248.3742
RMSE: 553855.6710
R² Score: 0.6218

===== TEST METRICS =====
MAE: 279614.7461
MSE: 252549134806.7813
RMSE: 502542.6696
R² Score: 0.6645
================================================================================
Model : Ada Boost

===== TRAINING METRICS =====
MAE: 386505.6787
MSE: 248955421084.6071
RMSE: 498954.3277
R² Score: 0.6930

===== TEST METRICS =====
MAE: 405686.4867
MSE: 280652986661.4481
RMSE: 529766.9173
R² Score: 0.6272
================================================================================
Model : Gradient Boost

===== TRAINING METRICS =====
MAE: 111709.5558
MSE: 42002252335.7090
RMSE: 204944.5104
R² Score: 0.9482

===== TEST METRICS =====
MAE: 126187.2889
MSE: 64741329869.1995
RMSE: 254443.1761
R² Score: 0.9140
================================================================================
Model : K-nearest Neighbors Regressor

===== TRAINING METRICS =====
MAE: 91425.6327
MSE: 106193229526.2816
RMSE: 325873.0267
R² Score: 0.8691

===== TEST METRICS =====
MAE: 112526.3461
MSE: 64021344520.1508
RMSE: 253024.3951
R² Score: 0.9150
================================================================================
Model : Decision Tree

===== TRAINING METRICS =====
MAE: 5164.8199
MSE: 432524990.5364
RMSE: 20797.2352
R² Score: 0.9995

===== TEST METRICS =====
MAE: 126466.3937
MSE: 98394144212.6401
RMSE: 313678.4089
R² Score: 0.8693
================================================================================
Model : Random Forest Regressor

===== TRAINING METRICS =====
MAE: 39599.6723
MSE: 16082559390.9804
RMSE: 126817.0312
R² Score: 0.9802

===== TEST METRICS =====
MAE: 101144.1504
MSE: 50301337665.1266
RMSE: 224279.5971
R² Score: 0.9332
================================================================================
Model : XGBoost Regressor

===== TRAINING METRICS =====
MAE: 61009.3203
MSE: 7300300288.0000
RMSE: 85441.7947
R² Score: 0.9910

===== TEST METRICS =====
MAE: 99048.5078
MSE: 60936806400.0000
RMSE: 246853.8159
R² Score: 0.9191
================================================================================

In [35]:
## The models which performed well are: KNN and RF but we will use adaboost also to see how it can be hypertuned
## Hyperparameter tuning for these models
knn_params={"n_neighbors":[2,3,10,20,40,50]}
rf_params = {
    'max_depth':[5,8,15,None,10],
    'max_features':[5,7,'auto',8],
    'min_samples_split':[2,8,15,20],
    'n_estimators':[100,200,500,1000]
}
gradientboost_param = {
    'loss':['squared_error', 'absolute_error', 'huber', 'quantile'],
    'learning_rate':[0.1,0.01,0.02,0.03],
    'n_estimators':[100,200,500,1000],
    'max_depth':[5,8,15,None,10],
    'min_samples_split':[2,8,15,20],
    'criterion':['friedman_mse', 'squared_error']
}
adaboost_params={
    'n_estimators':[50,60,70,80],
    'loss':['linear','square','exponential']
}

xgboost_param={
    'learning_rate':[0.1,0.01],
    'max_depth':[5,8,12,20,30],
    'n_estimators':[100,200,300],
    'colsample_bytree':[0.5,0.8,1,0.3,0.4]
}

In [36]:
## Model List for hyperparameter tuning
randomcv_models = [
    # ("KNN",KNeighborsRegressor(), knn_params),
    ("RF", RandomForestRegressor(), rf_params),
    # ("Adaboost",AdaBoostRegressor(), adaboost_params),
    # ("GradientBoost", GradientBoostingRegressor(), gradientboost_param)
    ("XGBoost", XGBRegressor(), xgboost_param)
]

In [37]:
#Hyperparameter Tuning
from sklearn.model_selection import RandomizedSearchCV
model_params={}
for name, model, param in randomcv_models:
    random = RandomizedSearchCV(estimator=model,
                                param_distributions=param,
                                n_iter=100,
                                cv=3,
                                verbose=2,
                                n_jobs=-1)
    random.fit(X_train, y_train)
    model_params[name] = random.best_params_

for model_name in model_params:
    print(f'------ Best params for {model_name} --------')
    print(model_params[model_name])

Fitting 3 folds for each of 100 candidates, totalling 300 fits
Fitting 3 folds for each of 100 candidates, totalling 300 fits
------ Best params for RF --------
{'n_estimators': 1000, 'min_samples_split': 2, 'max_features': 7, 'max_depth': None}
------ Best params for XGBoost --------
{'n_estimators': 200, 'max_depth': 5, 'learning_rate': 0.1, 'colsample_bytree': 0.5}

In [39]:
## Train the model again with best params
models = {
    "K-nearest Neighbors Regressor": KNeighborsRegressor(n_neighbors= 10),
    "Random Forest Regressor": RandomForestRegressor(n_estimators= 100, min_samples_split= 2, max_features= 8, max_depth= None),
    "Gradient Boost": GradientBoostingRegressor(n_estimators=200, min_samples_split=8, max_depth=10, loss='huber', criterion='friedman_mse'),
    "Adaboost": AdaBoostRegressor(n_estimators=60, loss='linear'),
    "XGBoost":XGBRegressor(n_estimators=200, learning_rate=0.1, max_depth=5, colsample_bytree=0.5)
}

In [40]:
for key, value in models.items():
    model = value
    model.fit(X_train, y_train)

    ##Make predictions
    y_train_predict = model.predict(X_train)
    y_test_predict = model.predict(X_test)

    #Evaluate Train Test Model
    model_train_mae, model_train_mse , model_train_rmse,  model_train_r2_sqaure = evaluate_model(y_train, y_train_predict)
    model_test_mae, model_test_mse , model_test_rmse,  model_test_r2_sqaure = evaluate_model(y_test, y_test_predict)


    print(f'Model : {key}')

    print("\n===== TRAINING METRICS =====")
    print(f"MAE: {model_train_mae:.4f}")
    print(f"MSE: {model_train_mse:.4f}")
    print(f"RMSE: {model_train_rmse:.4f}")
    print(f"R² Score: {model_train_r2_sqaure:.4f}")

    print("\n===== TEST METRICS =====")
    print(f"MAE: {model_test_mae:.4f}")
    print(f"MSE: {model_test_mse:.4f}")
    print(f"RMSE: {model_test_rmse:.4f}")
    print(f"R² Score: {model_test_r2_sqaure:.4f}")
    print("==" *30)

Model : K-nearest Neighbors Regressor

===== TRAINING METRICS =====
MAE: 103471.6175
MSE: 132103680886.5996
RMSE: 363460.7006
R² Score: 0.8371

===== TEST METRICS =====
MAE: 117487.1310
MSE: 69633846174.3837
RMSE: 263882.2582
R² Score: 0.9075
============================================================
Model : Random Forest Regressor

===== TRAINING METRICS =====
MAE: 39176.3573
MSE: 13652629530.4704
RMSE: 116844.4673
R² Score: 0.9832

===== TEST METRICS =====
MAE: 98660.2578
MSE: 44548286755.4209
RMSE: 211064.6507
R² Score: 0.9408
============================================================
Model : Gradient Boost

===== TRAINING METRICS =====
MAE: 37515.6430
MSE: 4739099690.9353
RMSE: 68841.1192
R² Score: 0.9942

===== TEST METRICS =====
MAE: 98614.0214
MSE: 49314046268.4190
RMSE: 222067.6615
R² Score: 0.9345
============================================================
Model : Adaboost

===== TRAINING METRICS =====
MAE: 358431.2824
MSE: 231520814514.0551
RMSE: 481166.0987
R² Score: 0.7145

===== TEST METRICS =====
MAE: 384283.3860
MSE: 308038142302.9222
RMSE: 555011.8398
R² Score: 0.5908
============================================================
Model : XGBoost

===== TRAINING METRICS =====
MAE: 79408.8281
MSE: 16193528832.0000
RMSE: 127253.7969
R² Score: 0.9800

===== TEST METRICS =====
MAE: 106498.6562
MSE: 110497300480.0000
RMSE: 332411.3423
R² Score: 0.8532
============================================================