### Data Encoding
1. Nominal/OHE Encoding
2. Label and Ordinal Encoding
3. Target Guided Ordinal Encoding

## Nominal/OHE Encoding
Consider a categorical feature called "color" with values such as red, green, and blue. This feature is categorical because it consists of distinct categories.

To enable the model to understand this feature, one hot encoding converts it into numerical features by creating new binary features for each category. For example, the categories red, green, and blue become three new features: red, green, and blue.

For each data point, the feature corresponding to its category is set to 1, and the others are set to 0. For instance, if the color is red, the red feature is 1, and green and blue are 0.

Disadvantages of One Hot Encoding
If a categorical feature has many categories, such as 100, one hot encoding will create 100 new features, increasing dimensionality.
This leads to sparse matrices, where most values are zeros and only one value is one per row.
Sparse matrices can cause overfitting, where the model fits the training data too well but performs poorly on new data.
Therefore, one hot encoding is not recommended for features with many categories.

Implementing One Hot Encoding in Python
One hot encoding, also known as nominal encoding, represents categorical data as numerical data suitable for machine learning algorithms. Each category is represented as a binary vector where each bit corresponds to a unique category.

For example, a color variable with categories red, green, and blue can be represented as binary vectors such as 100, 010, and 001 respectively.

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
## Create a simple dataframe
df = pd.DataFrame({
    'color':['red','green','blue','green','red','blue']
})

In [3]:
df.head()

   color
0    red
1  green
2   blue
3  green
4    red

In [4]:
df['color'].unique()

array(['red', 'green', 'blue'], dtype=object)

In [5]:
#create an instance of OneHotEncoder
encoder = OneHotEncoder()

In [6]:
#perform fit and transform
encoded = encoder.fit_transform(df[['color']]).toarray()

In [7]:
import pandas as pd
encoder_df = pd.DataFrame(encoded, columns=encoder.get_feature_names_out())

In [8]:
encoder_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         0.0          1.0        0.0
2         1.0          0.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [9]:
#for new data
encoder.transform([['blue']]).toarray()

E:\udemy\PythonBootcamp\.venv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [10]:
pd.concat([df, encoder_df], axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1  green         0.0          1.0        0.0
2   blue         1.0          0.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0

In [11]:
import seaborn as sns
sns.load_dataset('tips')

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

### Label Encoding
- Label encoding and ordinal encoding are two techniques used to encode categorical data as numerical data.
- Label encoding involves assigning a unique numerical label to each category in variable. The labels are usually assigned in alphabetical order or based on the frequency of the categories. For example, if we have a categorical variable "color" with three possible values (red, green, blue) we can represent it using label encoding as follows:
1. Red-1
2. Green-2
3. Blue-3

In [15]:
from sklearn.preprocessing import LabelEncoder
lbl_encoder = LabelEncoder()

In [16]:
df = pd.DataFrame({
    'color':['red','green','blue','green','red','blue']
})

In [18]:
encoded_df = lbl_encoder.fit_transform(df['color'])

In [19]:
encoded_df

array([2, 1, 0, 1, 2, 0])

In [21]:
lbl_encoder.transform(['red'])

array([2])

### Ordinal Encoding

It is used to encode categorical data that have an intrinsic order or ranking. In this technique, each category is assigned a numerical value based on its position in the order. For example, if we have a categorical variable "education level" with four possible values(high school, college, graduate, post-graduate), we can represent it using ordinal encoding as follows:

1. High School: 1
2. College: 2
3. Graduate: 3
4. Post-Graduate: 4

In [22]:
##Ordinal ENcoding
from sklearn.preprocessing import OrdinalEncoder

In [23]:
df = pd.DataFrame({
    'size': ['small', 'medium', 'large','medium', 'small', 'large']
})

In [24]:
df['size']

0     small
1    medium
2     large
3    medium
4     small
5     large
Name: size, dtype: object

In [25]:
#create an instance of ordinal encoder and then fit_transform
encoder = OrdinalEncoder(categories=[['small','medium','large']])

In [27]:
encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])

In [28]:
encoder.transform([['small']])

E:\udemy\PythonBootcamp\.venv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[0.]])

### Target Guided Ordinal Encoding
This method is used to encode categorical variables based on their relationship with the target variable.

Target guided ordinal encoding is particularly useful when dealing with categorical variables that have a large number of unique categories. The core idea is to replace each category in the categorical variable with a numerical value derived from the mean or median of the target variable for that category.

Example Dataset
Consider a simple dataset with two features: City and Price. Here, Price is the target variable, and we want to convert the categorical feature City into a numerical form based on this target variable.

For instance, the category "New York" appears twice with prices 200 and 180. To encode "New York", we calculate the mean of these two prices, which is 190, and replace the category with this value.

In [29]:
dataset = pd.DataFrame({
    'city':['New York','London','Paris','Tokyo','New York','Paris'],
    'price':[200,150,300,250,180,320]
})

In [33]:
dataset.head(6)

       city  price
0  New York    200
1    London    150
2     Paris    300
3     Tokyo    250
4  New York    180
5     Paris    320

In [36]:
mean_price = dataset.groupby('city')['price'].mean()

In [38]:
dataset['city_encoding'] = dataset['city'].map(mean_price)

In [39]:
dataset.head(10)

       city  price  city_encoding
0  New York    200          190.0
1    London    150          150.0
2     Paris    300          310.0
3     Tokyo    250          250.0
4  New York    180          190.0
5     Paris    320          310.0