# Module: SQLite3 Assignments
## Lesson: SQLite3
### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.
2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.
2. Insert at least 5 different employees into the `employees` table.

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.
2. Write a Python function to fetch and display all employees from a specific department.

### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.
2. Update the department of at least 2 employees and display the updated records.

### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.
2. Delete at least 1 employee and display the remaining records.

### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.
2. Write a Python function to fetch and display employees whose names start with a specific letter.

### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.
2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

### Assignment 8: Creating Relationships

1. Create a new table named `departments` with columns `id` (integer) and `name` (text).
2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.
3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

### Assignment 9: Indexing and Optimization

1. Create an index on the `name` column of the `employees` table.
2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

### Assignment 10: Backing Up and Restoring Data

1. Write a Python function to back up the `test.db` database to a file named `backup.db`.
2. Write a Python function to restore the `test.db` database from the `backup.db` file.

In [79]:
import sqlite3
import time

connection = sqlite3.connect('test.db')
cursor = connection.cursor()

In [2]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS employees(
id INTEGER PRIMARY KEY,
name TEXT NOT NULL,
age INTEGER,
department TEXT)
''')

connection.commit()

In [3]:
cursor.execute('''
INSERT INTO employees(id, name, age, department) values(1,'Anas',24,'Engineering')
''')

connection.commit()

In [5]:
employees_data= [
    (2, "Bob Smith", 34, "Finance"),
    (3, "Charlie Brown", 41, "IT"),
    (4, "Diana Prince", 27, "Marketing"),
    (5, "Ethan Hunt", 38, "Sales"),
    (6, "Fiona Davis", 31, "Finance"),
    (7, "George Miller", 45, "Operations"),
    (8, "Hannah Lee", 26, "HR"),
    (9, "Ian Clark", 37, "IT"),
    (10, "Julia Roberts", 33, "Sales"),
]

cursor.executemany('''
INSERT INTO employees(id, name, age, department) values(?,?,?,?)
''', employees_data)

In [6]:
connection.commit()

In [7]:
cursor.execute('''
SELECT * FROM employees
''')

data  = cursor.fetchall()
for employee in data:
    print(employee)

(1, 'Anas', 24, 'Engineering')
(2, 'Bob Smith', 34, 'Finance')
(3, 'Charlie Brown', 41, 'IT')
(4, 'Diana Prince', 27, 'Marketing')
(5, 'Ethan Hunt', 38, 'Sales')
(6, 'Fiona Davis', 31, 'Finance')
(7, 'George Miller', 45, 'Operations')
(8, 'Hannah Lee', 26, 'HR')
(9, 'Ian Clark', 37, 'IT')
(10, 'Julia Roberts', 33, 'Sales')

In [8]:
cursor.execute('''
SELECT * FROM employees WHERE department='IT'
''')

data  = cursor.fetchall()
for employee in data:
    print(employee)

(3, 'Charlie Brown', 41, 'IT')
(9, 'Ian Clark', 37, 'IT')

In [10]:
cursor.execute('''
UPDATE employees
SET department = 'IT'
WHERE id=6
''')

connection.commit()

In [11]:
cursor.execute('''
SELECT * FROM employees WHERE department='IT'
''')

data  = cursor.fetchall()
for employee in data:
    print(employee)

(3, 'Charlie Brown', 41, 'IT')
(6, 'Fiona Davis', 31, 'IT')
(9, 'Ian Clark', 37, 'IT')

In [14]:
cursor.execute('''
UPDATE employees
SET department = 'Operations'
WHERE department = 'Sales'
''')

connection.commit()

In [15]:
cursor.execute('''
SELECT * FROM employees
''')

data  = cursor.fetchall()
for employee in data:
    print(employee)

(1, 'Anas', 24, 'Engineering')
(2, 'Bob Smith', 34, 'Finance')
(3, 'Charlie Brown', 41, 'IT')
(4, 'Diana Prince', 27, 'Marketing')
(5, 'Ethan Hunt', 38, 'Operations')
(6, 'Fiona Davis', 31, 'IT')
(7, 'George Miller', 45, 'Operations')
(8, 'Hannah Lee', 26, 'HR')
(9, 'Ian Clark', 37, 'IT')
(10, 'Julia Roberts', 33, 'Operations')

In [16]:
cursor.execute('''
DELETE FROM employees
where id=7
''')

connection.commit()

In [17]:
cursor.execute('''
SELECT * FROM employees
''')

data  = cursor.fetchall()
for employee in data:
    print(employee)

(1, 'Anas', 24, 'Engineering')
(2, 'Bob Smith', 34, 'Finance')
(3, 'Charlie Brown', 41, 'IT')
(4, 'Diana Prince', 27, 'Marketing')
(5, 'Ethan Hunt', 38, 'Operations')
(6, 'Fiona Davis', 31, 'IT')
(8, 'Hannah Lee', 26, 'HR')
(9, 'Ian Clark', 37, 'IT')
(10, 'Julia Roberts', 33, 'Operations')

In [20]:
cursor.execute('''
DELETE FROM employees
where name LIKE 'Ian%'
''')

connection.commit()

In [21]:
cursor.execute('''
SELECT * FROM employees
''')

data  = cursor.fetchall()
for employee in data:
    print(employee)

(1, 'Anas', 24, 'Engineering')
(2, 'Bob Smith', 34, 'Finance')
(3, 'Charlie Brown', 41, 'IT')
(4, 'Diana Prince', 27, 'Marketing')
(5, 'Ethan Hunt', 38, 'Operations')
(6, 'Fiona Davis', 31, 'IT')
(8, 'Hannah Lee', 26, 'HR')
(10, 'Julia Roberts', 33, 'Operations')

In [23]:
cursor.execute('''
SELECT * FROM employees
WHERE age>30
''')

data  = cursor.fetchall()
for employee in data:
    print(employee)

(2, 'Bob Smith', 34, 'Finance')
(3, 'Charlie Brown', 41, 'IT')
(5, 'Ethan Hunt', 38, 'Operations')
(6, 'Fiona Davis', 31, 'IT')
(10, 'Julia Roberts', 33, 'Operations')

In [27]:
cursor.execute('''
UPDATE employees
SET name = 'Barbie'
WHERE id=5
''')

In [28]:
connection.commit()

In [29]:
cursor.execute('''
SELECT * FROM employees
''')

data  = cursor.fetchall()
for employee in data:
    print(employee)

(1, 'Anas', 24, 'Engineering')
(2, 'Bob Smith', 34, 'Finance')
(3, 'Charlie Brown', 41, 'IT')
(4, 'Diana Prince', 27, 'Marketing')
(5, 'Barbie', 38, 'Operations')
(6, 'Fiona Davis', 31, 'IT')
(8, 'Hannah Lee', 26, 'HR')
(10, 'Julia Roberts', 33, 'Operations')

In [31]:
cursor.execute('''
SELECT * FROM employees
WHERE name LIKE 'B%'
''')

data  = cursor.fetchall()
for employee in data:
    print(employee)

(2, 'Bob Smith', 34, 'Finance')
(5, 'Barbie', 38, 'Operations')

In [32]:
def insert_multiple_employees(employees):
    connection1=sqlite3.connect('test1.db')
    cursor1 = connection1.cursor()
    try:
        cursor1.executemany('''
            INSERT INTO employees(id,name,age,department) VALUES(?,?,?,?)
        ''', employee)
        connection1.commit()
        print("All Employees inserted successfully.")
    except Exception as e:
        connection1.rollback()
        print("Error occurred! Connection rolled back.")
        print(e)
    finally:
        connection1.close()

In [33]:
insert_multiple_employees(employees_data)

Error occurred! Connection rolled back.
no such table: employees

In [41]:
def insert_multiple_employees(employees):
        conn = sqlite3.connect('test1.db')
        cursor1 = conn.cursor()
        try:
            cursor1.executemany('''
                INSERT INTO employees(id, name, age, department) VALUES(?, ?, ?, ?)
            ''', employees)
            conn.commit()
            print("All employees inserted successfully.")
        except Exception as e:
            conn.rollback()
            print("Error occurred, transaction rolled back.")
            print(e)
        finally:
            conn.close()

    # Test the function with valid and invalid data,
employees = [
        (26, 'Frank', 40, 'Finance'),
        (27, 'Grace', 29, 'Engineering'),
        (28, 'Hannah', 35, 'Marketing'),
        (29, 'Ivan', 38, 'Sales'),
        (21, 'Jack', 45, 'HR')
]
insert_multiple_employees(employees)

Error occurred, transaction rolled back.
no such table: employees

In [42]:
cursor.execute('''
SELECT * FROM employees
''')

data  = cursor.fetchall()
for employee in data:
    print(employee)

(1, 'Anas', 24, 'Engineering')
(2, 'Bob Smith', 34, 'Finance')
(3, 'Charlie Brown', 41, 'IT')
(4, 'Diana Prince', 27, 'Marketing')
(5, 'Barbie', 38, 'Operations')
(6, 'Fiona Davis', 31, 'IT')
(8, 'Hannah Lee', 26, 'HR')
(10, 'Julia Roberts', 33, 'Operations')

In [50]:
update_ages = [
    (32,11),
    (29,4),
    (36,'A'),
    (42,11) #id does not exists
]

In [53]:
def update_age(update_ages):
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()

    try:
        cursor.executemany('''
        UPDATE employees
        SET age = ?
        WHERE id = ?
        ''', update_ages)

        if cursor.rowcount == 0:
            print(f"No record found ")
        else:
            print(f"Updated")


        connection.commit()
        print("Ages updated successfully")
    except Exception as e:
        connection.rollback()
        print("Error occurred! connection rolled back")
        print(e)
    finally:
        connection.close()

update_age(update_ages)

Error occurred! connection rolled back
no such table: employees

In [54]:
cursor.execute('''
SELECT * FROM employees
''')

data  = cursor.fetchall()
for employee in data:
    print(employee)

(1, 'Anas', 32, 'Engineering')
(2, 'Bob Smith', 34, 'Finance')
(3, 'Charlie Brown', 41, 'IT')
(4, 'Diana Prince', 29, 'Marketing')
(5, 'Barbie', 38, 'Operations')
(6, 'Fiona Davis', 31, 'IT')
(8, 'Hannah Lee', 36, 'HR')
(10, 'Julia Roberts', 33, 'Operations')

In [83]:
conn = sqlite3.connect('test.db')
cursor = conn.cursor()

In [ ]:
cursor.execute('''
CREATE TABLE departments(
                id INTEGER PRIMARY KEY,
                name TEXT NOT NULL UNIQUE
                )
''')

conn.commit()

In [66]:
cursor.execute('''
SELECT * FROM departments
''')

data  = cursor.fetchall()
for employee in data:
    print(employee)

In [63]:
#Drop Table
#
# cursor.execute('''
# DROP TABLE department
# ''')
#
# conn.commit()

In [70]:
#Modify employee table and add a foreign key for department id

cursor.executescript('''
PRAGMA foreign_keys=off;
BEGIN TRANSACTION;
ALTER TABLE employees RENAME to old_employees;
CREATE TABLE employees(
id INTEGER PRIMARY KEY,
name TEXT NOT NULL,
age TEXT,
department TEXT,
department_id INTEGER,
FOREIGN KEY(department_id) REFERENCES departments
);
INSERT INTO employees(id,name,age,department)
SELECT id,name,age,department FROM old_employees;
DROP TABLE old_employees;
COMMIT;
PRAGMA foreign_keys=on;
''')

conn.commit()
print("Table 'employees' modified successfully.")

Table 'employees' modified successfully.

In [75]:
def insert_department_and_employee(department_id, department_name, employee_id, name, age, department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:
        cursor.execute('''
        INSERT INTO departments(id,name)
        VALUES(?,?)
        ''',( department_id, department_name))

        cursor.execute('''
        INSERT INTO employees(id,name,age,department,department_id)
        VALUES (?,?,?,?,?)
        ''',(employee_id,name,age, department, department_id))

        conn.commit()
        print("Details added successfully.")
    except Exception as e:
        conn.rollback()
        print(e)
    finally:
        conn.close()

In [77]:
insert_department_and_employee(1, 'Finance', 11, 'Zara', 28, 'Finance')

Details added successfully.

### Indexing and Optimization

In [78]:
# Create an index on the `name` column of the `employees` table.

cursor.execute('''
CREATE INDEX idx_name ON employees(name)
''')

conn.commit()

In [84]:
# Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

start_time = time.time()
cursor.execute("SELECT * FROM employees WHERE name LIKE 'B%'")
records = cursor.fetchall()
end_time = time.time()
delta = end_time-start_time
print("Time Taken: ", delta)
for record in records:
    print(record)

Time Taken:  0.02319788932800293
(2, 'Bob Smith', '34', 'Finance', None)
(5, 'Barbie', '38', 'Operations', None)

### Backing Up and Restoring Data

In [85]:
#Backup test.db to backup.db
import shutil
def backup_database():
    shutil.copy('test.db','backup.db')
    print("Database backed up successfully")

In [86]:
backup_database()

Database backed up successfully

In [87]:
def restore_database():
    shutil.copy('backup.db', 'test.db')
    print("Database restored successfully.")

In [88]:
restore_database()

Database restored successfully.