### SQL and SQLite
SQL(Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems. In this lesson, we will cover the basics of SQL and SQLite, including creating databases, tables, and performing various SQL operations.

In [2]:
import sqlite3

In [3]:
#Connect to an SQLite Database
connection = sqlite3.connect('example.db')
connection

In [4]:
##Create a cursor to iterate over table content
cursor= connection.cursor()

In [5]:
#Create a table
cursor.execute('''
CREATE TABLE IF NOT EXISTS employees(
                id Integer Primary Key,
                name Text Not Null,
                age Integer,
                department Text Not Null
                )
''')

#Commit the changes
connection.commit()

In [6]:
cursor.execute('''
SELECT * FROM employees
''')

In [7]:
#Insert the data in sqlite table
cursor.execute('''
Insert into employees(name,age,department) values('Anas',23,'Data Scientist')
''')
cursor.execute('''
Insert into employees(name,age,department) values('Bob',28,'Engineering')
''')
cursor.execute('''
Insert into employees(name,age,department) values('Charlie',30,'Finance')
''')

#commit the changes
connection.commit()

In [8]:
#Query the data from the table
cursor.execute('''
SELECT * FROM employees
''')

#Print the queried data
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Anas', 34, 'Data Scientist')
(3, 'Charlie', 30, 'Finance')
(4, 'Anas', 23, 'Data Scientist')
(5, 'Bob', 28, 'Engineering')
(6, 'Charlie', 30, 'Finance')

In [9]:
#update the data in the table
cursor.execute('''
Update employees
Set age = 34
Where name = 'Anas'
''')

connection.commit()

In [10]:
#Delete the data from the table
cursor.execute('''
Delete from employees
Where name='Bob'
''')

connection.commit()

In [28]:
#Working with Sales Data
##Connect to SQLite
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales(
                           id INTEGER PRIMARY KEY,
                           date TEXT NOT NULL,
                           product TEXT NOT NULL,
                           sales INTEGER,
                           region TEXT
                           )
''')

##Insert data into sales table
sales_data = [
    ('2023-01-06', 'Product1', 225, 'West'),
    ('2023-01-12', 'Product2', 310, 'North'),
    ('2023-01-01', 'Product3', 480, 'East'),
    ('2023-01-14', 'Product1', 95, 'South'),
    ('2023-01-09', 'Product2', 410, 'North'),
    ('2023-01-03', 'Product3', 150, 'West'),
    ('2023-01-16', 'Product1', 320, 'East'),
    ('2023-01-20', 'Product2', 275, 'South'),
    ('2023-01-05', 'Product3', 110, 'North'),
    ('2023-01-18', 'Product1', 490, 'East'),
    ('2023-01-04', 'Product2', 205, 'West'),
    ('2023-01-11', 'Product3', 360, 'South'),
    ('2023-01-02', 'Product1', 295, 'North'),
    ('2023-01-15', 'Product2', 420, 'East'),
    ('2023-01-08', 'Product3', 180, 'South'),
    ('2023-01-19', 'Product1', 365, 'West'),
    ('2023-01-07', 'Product2', 275, 'North'),
    ('2023-01-10', 'Product3', 455, 'East'),
    ('2023-01-13', 'Product1', 130, 'South'),
    ('2023-01-17', 'Product2', 340, 'West')
]
connection.commit()

In [29]:
#Bulk insertion from array to sqlite table
cursor.executemany('''
Insert into sales(date,product,sales,region) values(?,?,?,?)
''',sales_data)

connection.commit()

In [30]:
#Query the data from the table
cursor.execute('''
SELECT * FROM sales
''')


#Print the queried data
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, '2023-01-06', 'Product1', 225, 'West')
(2, '2023-01-12', 'Product2', 310, 'North')
(3, '2023-01-01', 'Product3', 480, 'East')
(4, '2023-01-14', 'Product1', 95, 'South')
(5, '2023-01-09', 'Product2', 410, 'North')
(6, '2023-01-03', 'Product3', 150, 'West')
(7, '2023-01-16', 'Product1', 320, 'East')
(8, '2023-01-20', 'Product2', 275, 'South')
(9, '2023-01-05', 'Product3', 110, 'North')
(10, '2023-01-18', 'Product1', 490, 'East')
(11, '2023-01-04', 'Product2', 205, 'West')
(12, '2023-01-11', 'Product3', 360, 'South')
(13, '2023-01-02', 'Product1', 295, 'North')
(14, '2023-01-15', 'Product2', 420, 'East')
(15, '2023-01-08', 'Product3', 180, 'South')
(16, '2023-01-19', 'Product1', 365, 'West')
(17, '2023-01-07', 'Product2', 275, 'North')
(18, '2023-01-10', 'Product3', 455, 'East')
(19, '2023-01-13', 'Product1', 130, 'South')
(20, '2023-01-17', 'Product2', 340, 'West')

In [31]:
connection.close()

In [32]:
cursor.execute('''
SELECT * FROM sales
''')


#Print the queried data
rows = cursor.fetchall()
for row in rows:
    print(row)

ProgrammingError: Cannot operate on a closed database.